header
{
  background-size: cover;
  background: rgb(250,250,255);
 background: -moz-linear-gradient(120deg, rgba(250,250,255,1) 35%, rgba(65,224,216,1) 35%);
 background: -webkit-linear-gradient(120deg, rgba(250,250,255,1) 35%, rgba(65,224,216,1) 35%);
 background: linear-gradient(120deg, rgba(250,250,255,1) 35%, rgba(65,224,216,1) 35%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fafaff",endColorstr="#41e0d8",GradientType=1);
 padding-bottom: 0;
}
nav
{
width: 40%;
margin-bottom: 10%;

}
.row
{
  justify-content: center;
}
.col1
{
  margin-right: 10%;
}
section
{
  background-color: rgb(38, 42, 52);
  height: 837px;
}
button
{
  background-color: rgb(65,224,216);

}
